<nav class="navbar-nav navbar-right navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Lattitude</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('about')}}">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('Comparison')}}">Comparison</a>
            </li>
            <li class="nav-item"></li>
              <a class="nav-link" href="{{url_for('Data')}}">Data</a>
            </li>
            <li class="nav-item dropdown"></li>
            <a class="nav-link dropdown-toggle" href="{{url_for('Data')}}">Data</a>
          </li>
        </div>
      </nav>

      